<?xml version="1.0"?>
<config>
    <modules>
        <Pixafy_Pixcheckout>
            <version>0.1.4</version>
        </Pixafy_Pixcheckout>
    </modules>
    <global>
        <helpers>
            <pixafy_pixcheckout>
                <class>Pixafy_Pixcheckout_Helper</class>
            </pixafy_pixcheckout>
        </helpers>
    </global>
    <frontend>
        <routers>
            <checkout>
                 <args>
                     <modules>
                         <Pixafy_Pixcheckout before="Mage_Checkout">Pixafy_Pixcheckout</Pixafy_Pixcheckout>
                     </modules>
                 </args>
             </checkout>
        </routers>
    </frontend>
</config>