<?xml version="1.0"?>
<config>
    <modules>
        <Pixafy_Pixcustomer>
            <version>0.0.2</version>
        </Pixafy_Pixcustomer>
    </modules>
    <global>
        <helpers>
            <pixafy_pixcustomer>
                <class>Pixafy_Pixcustomer_Helper</class>
            </pixafy_pixcustomer>
        </helpers>
    </global>
</config>